        .navbar {
            background-color: #EAE6F5;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

        }

        .navbar li a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
            padding: 10px 20px;
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            border-radius: 25px;
            transition: background-color 0.3s;
            height: 40px;
        }

        .navbar li a:hover,
        .navbar li a.active {
            background-color: #4B208C;
            color: white;
        }

        .navbar .logo {
            display: flex;
            align-items: center;
            height: 40px;

        }

        .navbar .logo img {
            height: 100%;
            width: auto;
        }

        .navbar .logo .website-name {
            font-size: 1.5em;
            font-family: "Poppins", sans-serif;
            color: #4B0082;
            font-weight: bold;
            line-height: 40px;
            padding: 10px;
        }

        /* End of Navigation Bar */

        /* form style */
        form {
            background: linear-gradient(to right, #e5d9f9, #f2dcf2, #bfaad0);
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
            margin: 20px auto;

        }

        /* remove the default black color of corners of theese fields when it is avtice */
        form input[type=date]:focus,
        form textarea:focus,
        form select:focus {
            outline: none;
        }

        button {
            display: block;
            background-color: #4B208C;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 0;
            cursor: pointer;
            font-size: 16px;
            margin: 5px 0;
            /* Only top and bottom margin */
        }

        /* style the buttons which are in the center such as submit and ok buttong in the success message */
        .centered {
            margin-left: auto;
            margin-right: auto;
        }

        .button-container {
            display: flex;
            justify-content: center;
            gap: 5px;

        }

        button:hover {
            background-color: #5625A8;
        }

        .dropDownMenu {
            width: auto;
            padding: 4px 8px;
            font-size: 16px;
            display: inline-block;
            box-sizing: border-box;
        }



        body {
            background-color: #FFFFFF;

            font-family: "Poppins", sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        input[type="date"],
        select,
        textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 0;
            box-sizing: border-box;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            font-family: 'Arial', sans-serif;
        }

        .date-range {
            display: flex;
            justify-content: flex-start;
        }

        .date-field {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
        }

        h2 {
            font-family: "Poppins", sans-serif;
            text-align: center;
            color: #4B0082;
        }

        label {
            color: #4B208C;
            font-family: sans-serif;

        }

        .help-icon {
            width: 24px;
            height: 24px;

        }



        .date-field {
            position: relative;

        }

        .date-field .error-message {
            position: absolute;
            bottom: -20px;
            left: 0;
        }

        .error-message {
            display: block;
            /* This will make the span behave like a block element */
            color: #ff0000;
            /* Adjust the color if needed to make it less bright */
            font-size: 0.8em;
            /* Smaller font size */
            text-align: left;
            /* Align text to the left */
            margin-top: 5px;/
        }

        .popup {
            display: none;
            width: 50%;
            /* Decrease the percentage for a narrower popup */
            max-width: 500px;
            background: #fff;
            border-radius: 9px;
            position: absolute;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            border: 2px solid #e8e8e8;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 30px 30px;
            /* Make sure padding does not cause overflow */
            color: #333;
            z-index: 1000;

        }

        .popup img {
            width: 100px;
            margin-top: -50px;
            border-radius: 50%;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        }

        .popup h2 {
            font-size: 38px;
            font-weight: 600;
            margin: 30px 0 10px;
        }

        /* when displying confimation and success message, this effect will happen */
        .backdrop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 999;
            /* Below the popup but above other content */
        }