body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.heading_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}

.heading_container img {
  width: 30px;
}

.hero_area {
  height: 98vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eae6f5;
}

.sub_page .hero_area {
  height: auto;
}

.service_section {
  text-align: center;
}

.service_section .heading_container {
  justify-content: center;
}

.service_section .service_container {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  flex-wrap: wrap;
}

.service_section .service_container .box {
  margin: 25px 1%;
  flex-basis: 31%;
  padding: 35px 25px 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  transition: all .1s;
}

.service_section .service_container .box:hover,
.service_section .service_container .box.active {
  border-top: 15px solid #512a97;
}

.service_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #4b208c;
  color: #ffffff;
  border-radius: 35px;
}

.detail-box {
      padding: 25px 25px 15px;

      h5 {
        font-weight: bold;
      }
    }

.service_section .btn-box a:hover {
  background-color: #5625a1;
}

.footer_section {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer_section p {
  color: #222222;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section p a {
  color: #222222;
}
