* {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    
  }
  
  .services-section-login{
    background-color: #eae6f5;
    height: 14%;
    width: 100%;
    position: absolute;
}
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  .logo{
    display: inline-flex;
    align-items: center;}
  
  .logo img {
      margin-left: 40px;
      width: 140px;
      height: auto;
    }
    
    .logo span {
      font-size: 22px;
      font-weight: 700;
      color: #4b208c;
      margin: 0;
      padding: 0;
    }
  .Nav{
    background-color: #eae6f5;
    margin-left: 800px; 
    margin-top: -60px;
    padding: 20px;
    
    }
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      
    }
    
    .list-item {
      display: inline-block;
      line-height: 0px;
      width: 130px;
      text-transform: uppercase;
    }
    .Nav ul li a{
      border-radius: 2px;
  
    }
    .Nav a:hover {
      color: white;
      background-color: #371e71;
      transition: .3s;
    }
    .pract{
        display: block;
        margin-top: 100px;
        
        
    }
    .pract h2{
        text-align: center;
    }
    .pract h3{
        text-align: center;
        color:#4b208c;
    }
    .pract input{
        width: 500px;
        height: 60px;
        font-size: 16px;
        
    }
    .pract input:focus{
        border: 3px solid #4b208c;
    }
    .pract form{
        text-align: center;
    }
    .pract   a {
        display: inline-block;
        padding: 10px 40px;
        background-color: #4b208c;
        color: #ffffff;
        margin-top: 35px;
        margin-left: 700px;
        border-radius: 35px;
      }
      
      .pract a:hover {
        background-color: #5625a1;
      }
    